.search-field{
    margin-top: 30px;
    height: 50px;
}

.search-field input, select{
    margin-right: 50px;
    margin-left: 20px;
    border-radius: 5px;
    background: #F9F0DA;
    top: 0;
    right: 0;
    height: 35px;
    width: 150px;
    font-size: 16px;
}

button {
    margin-left: 30px;
    height: 35px;
    top: 0;
    right: 0;
    font-size: 17px;
    color: honeydew;
}

.red-button{
    background: #c5464a;
}

.blue-button{
    background: #1e67a3;
}

.movie-list{
    margin-top: 30px;
}

.movie-card{
    float: left;
    height: 420px;
    width: 300px;
    background-color: black;
    border: thin solid gray;
    position: relative;
}

.movie-img{
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
}

.movie-info{
    position: absolute;
    width: 220px;
    left: 40px;
    top: 150px;
    z-index: 2;
    font-size: 20px;
    color: white;
    display: none;
}

.movie-card:hover .movie-info{
    display: block;
}

.movie-card:hover .movie-img{
    opacity: 0.4;
}

.movie-info p{
    text-align: center;
}

.clear{
    clear: both;
}

.page-option{
    margin: 50px auto 100px;
    text-align: center;
    max-width: 700px;
}

.page{
    border: none;
    background: transparent;
    float: left;
    margin-right: 30px;
    color: white;
    font-size: 20px;
}


.movie-detail{
    color:gainsboro;
    position: relative;
}

.movie-image-div{
    margin-top: 30px;
    float: left;
    width: 350px;
    margin-right: 40px;
}

.movie-content{
    position:absolute;
    left: 390px;
    padding-bottom: 50px;
}

.movie-title{
    font-size: 30px;
    font-weight: 800;
}

.info p{
    line-height:150%;
    text-transform: capitalize;
}

.rate-div{
    width: 300px;
    float: left;
    margin-right: 20px;
}


.rate-container {
    width: 100%;
    background-color: #ddd;
    margin: 10px;
}

.rate {
    text-align: right;
    padding-right: 20px;
    line-height: 30px;
    color: white;
    background-color: #1e67a3;
}

.left{
    float: left;
}

.vote{
    margin-top: 45px;
    font-size: 15px;
}

.info{
    margin-bottom: 50px;
}

.add-favorite{
    margin: auto;
}

.favorites-link{
    float: right;
    margin: 8px 50px;
    text-decoration:underline;
}

.favorites-list-title{
    margin-top: 30px;
    font-size: 25px;
    font-weight: 500;
}

.favorite-img{
    float: left;
    width: 120px;
    height: 180px;
    margin-right: 20px;
}

.favorite-card{
    margin-top: 10px;
    height: 180px;
    border: solid 1px gray;
}

.favorite-card p{
    text-transform: capitalize;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.favorite-title{
    font-size: 18px;
}

.small{
    font-size: 15px;
}